.b-container button{
    background-image: url( https://www.alexandermanton.com/wp-content/uploads/2016/08/FA_IN_005-First-Rain-First-Range-5.jpg);
    border-color: #660099;
}

.b-container{  // область окна
    width:100%;
    height:100%;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    
}

.b-popup{  
    width:50%;
    min-height:60%;
    background-image: url( https://www.alexandermanton.com/wp-content/uploads/2016/08/FA_IN_005-First-Rain-First-Range-5.jpg);
    color:#FFCCFF;
    overflow:hidden;
    position:fixed;
    top:0px;
    border-radius: 12px;
    margin-left: 25%;
    margin-right: 25%;
}

.b-popup .b-popup-content{
    display: block;
    width:100px;
    height: 40px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;

}

h1{
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: normal;
  line-height: 1.8em;
  font-size: 30px;
  color: #FFCCFF;
  margin: 13px 0 8px;
  letter-spacing: 0.08em;
}

img{
	width: 1em;
	float: right;
	margin-top: 10px;;
	
}

#send{
	margin-bottom: 1em;
	float: right;
    background-color:#990099;
    border-color: #FF3399;
}


.form-control{
    border-style: hidden;
    width: 80%;
    margin:auto;
}

#error {
    text-align: center;
    font-family: 'Lora', serif;
  font-weight: normal;
  line-height: 1.8em;
  font-size: 20px;
  color: #FFCCFF;
  margin: 13px 0 8px;
  letter-spacing: 0.08em;
}


@media screen and (max-width: 800px) {
	.b-popup{
        width:100vw;
        height: 100vh;
        margin-left: 0%;
        margin-right:0%;
    }
  
}

